In [ ]:
import pandas as pd

In [ ]:
mcidata = pd.read_csv("/content/out_d1_req_mci_ids_0709.csv")

In [ ]:
mcidata

     MCI-ADRCID   visit number visit date  ...  label_5_name label_6_num label_6_name
0       3900006  visit_1_arm_1   11/24/15  ...           NaN         NaN          NaN
1       3900006  visit_2_arm_1   11/30/16  ...           NaN         NaN          NaN
2       3900006  visit_3_arm_1   12/13/17  ...           NaN         NaN          NaN
3       3900006  visit_4_arm_1   12/11/18  ...           NaN         NaN          NaN
4       3900006  visit_5_arm_1    2/13/20  ...           NaN         NaN          NaN
..          ...            ...        ...  ...           ...         ...          ...
190     3900420  visit_1_arm_1    3/25/20  ...           NaN         NaN          NaN
191     3900422  visit_1_arm_1    8/25/20  ...           NaN         NaN          NaN
192     3900426  visit_1_arm_1    4/28/21  ...           NaN         NaN          NaN
193     3900432  visit_1_arm_1    6/16/21  ...           NaN         NaN          NaN
194     3900433  visit_1_arm_1    4/28/21  ...           NaN         NaN          NaN

[195 rows x 17 columns]

In [ ]:
for i in range(0,len(mcidata)):
  labellists = str(mcidata['d1: sec3 symptoms'][i]).split(", ")
  print(labellists)

  for j in range(len(labellists)):
      if labellists[j] != "nan" :
        entry = labellists[j].strip()
        if "." in entry:
          num = entry[0:entry.find(" ")-1]
          name = entry[entry.find(" ")+1:]
        elif ")" in entry:
          num = entry[0:entry.find(" ")] + entry[entry.find(" ")+1:entry.find(" ")+2]
          cut_entry = entry[entry.find(" ")+1:]
          name = cut_entry[cut_entry.find(" ")+1:]
        mcidata.at[i, f'label_{j+1}_num'] = num
        mcidata.at[i, f'label_{j+1}_name'] = name

In [ ]:
mcidata.to_csv("/content/out_d1_req_mci_ids_0709_splitlabels.csv")